@model CMS_3D_Core.Models.EDM.t_article

@{
    ViewData["Title"] = "EditProductInstruction";
}

<link rel="stylesheet" href="~/css/annotation.css" />

<h1>@Html.DisplayFor(model => model.title)</h1>


@Html.HiddenFor(model => model.id_article, new { id = "id_article" })
<input type="hidden" value="false" id="is_mode_assy" />
<input type="hidden" value="true" id="is_edit_mode" />


<p class="text-info">
    @ViewBag.ResultMsg
</p>


<div class="row">

    <div class="col-6" id="id_contents_models">

        <div id="annotations">
        </div>
        @*モデルの表示領域*@
        <canvas id="model_screen">
        </canvas>

        <div class="progress" id="div_progressbar_modeldl">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="progressbar_modeldl"></div>
        </div>
        <hr />

        <div id="control_panel_zone">
        </div>

        <hr />

        @*表示用ビューならここにインストラクションの表示領域がある*@
        <div id="preview_instruction_short_description"></div>

    </div>


    <div class="col-6" id="id_contents_instructions">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-instruction-tab" data-bs-toggle="tab" href="#nav-instruction">Instruction</a>
                <a class="nav-link" id="nav-preview-instruction-tab" data-bs-toggle="tab" href="#preview-instruction">Preview Instruction</a>
                <a class="nav-link" id="nav-viewinfo-tab" data-bs-toggle="tab" href="#nav-viewinfo">View</a>
                <a class="nav-link" id="nav-annotationinfo-tab" data-bs-toggle="tab" href="#nav-annotationinfo">Annotation</a>
                <a class="nav-link" id="nav-displayitemsinfo-tab" data-bs-toggle="tab" href="#nav-displayitemsinfo">Display Items Info</a>
                <a class="nav-link" id="nav-articlebase-tab" data-bs-toggle="tab" href="#nav-articlebase">Article Base</a>
                <a class="nav-link" id="nav-thumbnail-tab" data-bs-toggle="tab" href="#nav-thumbnail">Thumbnail</a>
                <a class="nav-link" id="nav-materials-tab" data-bs-toggle="tab" href="#nav-materials">Materials</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-instruction">
                @await Component.InvokeAsync("EditProductInstruction", new { id_article = (long)0, use_ajax = true })

                <button class="btn btn-primary" id="DbUpdateInstruction">Save</button>
                <button class="btn btn-danger" id="DbDeleteInstruction">Delete</button>
            </div>

            <div class="tab-pane fade" id="preview-instruction">
            </div>

            <div class="tab-pane fade" id="nav-viewinfo">

                <h4> View Info and Edit</h4>

                @await Component.InvokeAsync("EditProductView", new { id_article = (long)0, use_ajax = true })


                @await Component.InvokeAsync("EditListProductView")


                @Html.ActionLink("View", "Index", "t_view", new { id_article = (Model ?? new CMS_3D_Core.Models.EDM.t_article() { id_article = 0 }).id_article })

            </div>

            <div class="tab-pane fade" id="nav-annotationinfo">

                <h4> Annotation Info and Edit</h4>

                @await Component.InvokeAsync("EditProductAnnotation", new { id_article = (long)0, use_ajax = true })

                <div id="id_view_operation_panel"></div>
            </div>

            <div class="tab-pane fade" id="nav-displayitemsinfo">

                <h4> DisplayItems Info and Edit</h4>

                @await Component.InvokeAsync("EditProductAnnotationDisplay", new { id_article = (long)0, use_ajax = true })

                <button class="btn btn-primary" id="DbUpdateAnnotationDisplay">Save</button>

            </div>



            <div class="tab-pane fade" id="nav-articlebase">

                <h4> View Info and Edit</h4>

                @await Component.InvokeAsync("EditArticle", new { id_article = (Model ?? new CMS_3D_Core.Models.EDM.t_article() { id_article = 0 }).id_article })

            </div>
            <div class="tab-pane fade" id="nav-thumbnail">

                <h4>Thumbnail</h4>

                @await Component.InvokeAsync("EditThumbnail", new { id_article = (Model ?? new CMS_3D_Core.Models.EDM.t_article() { id_article = 0 }).id_article })


            </div>

            <div class="tab-pane fade" id="nav-materials">

                <h4>Materials</h4>

                <table class="table" id="id_view_refelencematerial_table">
                    <thead id="id_view_refelencematerial_table_thead">
                        <tr>
                            <th>
                                Part Number
                            </th>
                            <th>
                                File Name
                            </th>
                            <th>
                                File Size
                            </th>
                            <th>
                                Item Link
                            </th>
                            <th>
                                Author
                            </th>
                            <th>
                                License
                            </th>
                        </tr>
                    </thead>
                    <tbody id="id_view_refelencematerial_table_tbody">
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <p id="debugel"></p>
</div>


<script type="module" src="~/js/tdarticle.bundle.js"></script>
