/*
    Style for Annotations of 3D viewer
*/



annotations {
    width: 100%;
    height: 100px;
    display: block;
}

.annotation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 15px;
    margin-top: -10px;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 200px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    border-radius: .5em;
    font-size: 12px;
    line-height: 1.2;
    transition: opacity .5s;
    &::before
}

.annotation_editmode {
    outline-color: red;
    background: rgba(0, 0, 255, 0.8);
}

.p_annotation {
    margin-bottom: 0.5em;
}

/*
#model_screen {
    position: absolute;
    z-index: -1;
}
*/