
<div id="id_edit_light">

    <h5>Base Info</h5>

    <input type="hidden" id="id_edit_light_id_article" data-val="true" data-val-required="The id_article field is required." name="id_article" />

    <div class="form-group row ">


        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="id_edit_light_id_light">ID Light</label>
            <div class="px-4">
                <input class="form-control" id="id_edit_light_id_light" type="number" data-val="true" data-val-required="The status field is required." name="id_light" />
                <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_id_light" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="id_edit_light_id_light_type">light_type</label>
            <div class="px-4">
                <input class="form-control" id="id_edit_light_id_light_type" type="text" data-val="true" data-val-required="The status field is required." name="light_type" />
                <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_id_light_type" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-sm-12">
            <label class="control-label font-weight-bold" for="id_edit_light_title">title</label>
            <div class="px-12">
                <input class="form-control" id="id_edit_light_title" type="text" name="title" />
                <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_title" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-sm-12">
            <label class="control-label" for="id_edit_light_short_description">article_id_short_description</label>
            <textarea class="form-control" id="id_edit_light_short_description" name="short_description" rows="2"></textarea>
            <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_short_description" data-valmsg-replace="true"></span>
        </div>



        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="id_edit_light_color">Color</label>
            <div class="px-4">
                <input class="form-control" id="id_edit_light_color" type="number" data-val="true" data-val-required="The status field is required." name="color" />
                <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_color" data-valmsg-replace="true"></span>
            </div>
        </div>


        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="id_edit_light_intensity">intensity</label>
            <div class="px-4">
                <input class="form-control" id="id_edit_light_intensity" type="number" data-val="true" data-val-required="The status field is required." name="intensity" />
                <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_intensity" data-valmsg-replace="true"></span>
            </div>
        </div>



    </div>


    <hr />

    <h5>Base Info</h5>

    <div class="form-group row ">

        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="id_edit_light_px">px</label>
            <div class="px-4">
                <input class="form-control" id="id_edit_light_px" type="number" data-val="true" data-val-required="The status field is required." name="px" />
                <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_px" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="id_edit_light_py">py</label>
            <div class="px-4">
                <input class="form-control" id="id_edit_light_py" type="number" data-val="true" data-val-required="The status field is required." name="py" />
                <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_py" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="id_edit_light_pz">pz</label>
            <div class="px-4">
                <input class="form-control" id="id_edit_light_pz" type="number" data-val="true" data-val-required="The status field is required." name="pz" />
                <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_pz" data-valmsg-replace="true"></span>
            </div>
        </div>

    </div>

    <hr />

    <h5>Base Info</h5>

    <div class="form-group row ">

        <div class="col-sm-4">
            <label class="control-label" for="id_edit_light_distance">distance</label>
            <div class="px-4">
                <input class="form-control" id="id_edit_light_distance" type="number" data-val="true" data-val-required="The status field is required." name="distance" />
                <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_distance" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="id_edit_light_decay">decay</label>
            <div class="px-4">
                <input class="form-control" id="id_edit_light_decay" type="number" data-val="true" data-val-required="The status field is required." name="decay" />
                <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_decay" data-valmsg-replace="true"></span>
            </div>
        </div>

    </div>

    <div class="form-group row ">

        <div class="col-sm-12">
            <label class="control-label" for="id_edit_light_is_lensflare">Lensflare</label>
            <input type="checkbox" id="id_edit_light_is_lensflare" name="is_lensflare" value="true">
            <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_is_lensflare" data-valmsg-replace="true"></span>
        </div>

        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="id_edit_light_lfsize">lfsize</label>
            <div class="px-4">
                <input class="form-control" id="id_edit_light_lfsize" type="number" data-val="true" data-val-required="The status field is required." name="lfsize" />
                <span class="text-danger field-validation-valid" data-valmsg-for="id_edit_light_lfsize" data-valmsg-replace="true"></span>
            </div>
        </div>

    </div>


    <hr />

    <div class="form-group row ">

        <button class="btn btn-primary" id="DbUpdateLight">Save</button>

    </div>
</div>




<div id="id_edit_light_list">
    <table class="table">
        <thead>
            <tr>
                <th>
                    No
                </th>
                <th>
                    light_type
                </th>
                <th>
                    title
                </th>
                <th>
                    short_description
                </th>
                <th>
                    color
                </th>
                <th>
                    intensity
                </th>
                <th>
                    px
                </th>
                <th>
                    py
                </th>
                <th>
                    pz
                </th>
                <th>
                    is_lensflare
                </th>
                <th>
                    lfsize
                </th>
            </tr>
        </thead>
        <tbody id="id_edit_light_list_tbody">
        </tbody>
    </table>
</div>