

<div id="view_data">


    <div class="form-group row ">



        <input type="hidden" id="id_edit_view_input_id_article" name="id_article" />

        <div class="col-sm-2">
            <label class="control-label font-weight-bold" for="id_view">id_view</label>
            <div class="px-3">
                <input class="form-control" id="id_edit_view_input_id_view" type="number" data-val="true" data-val-required="The id_view field is required." name="id_view" />
                <span class="text-danger field-validation-valid" data-valmsg-for="id_view" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-sm-6">
            <label class="control-label font-weight-bold" for="title">title</label>
            <div class="px-3">
                <input class="form-control" id="id_edit_view_input_title" type="text" name="title" />
                <span class="text-danger field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
            </div>
        </div>

    </div>

    <table class="table">
        <tr>
            <th>
                Elementname
            </th>
            <th>
                X
            </th>
            <th>
                Y
            </th>
            <th>
                Z
            </th>
            <th>
                W
            </th>
        </tr>
        <tr>
            <td>
                Camera Position
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_cam_pos_x" type="text" data-val="true" data-val-number="The field cam_pos_x must be a number." name="cam_pos_x" />
                <span class="text-danger field-validation-valid" data-valmsg-for="cam_pos_x" data-valmsg-replace="true"></span>
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_cam_pos_y" type="text" data-val="true" data-val-number="The field cam_pos_y must be a number." name="cam_pos_y" />
                <span class="text-danger field-validation-valid" data-valmsg-for="cam_pos_y" data-valmsg-replace="true"></span>
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_cam_pos_z" type="text" data-val="true" data-val-number="The field cam_pos_z must be a number." name="cam_pos_z" />
                <span class="text-danger field-validation-valid" data-valmsg-for="cam_pos_z" data-valmsg-replace="true"></span>
            </td>
            <td>
                --
            </td>
        </tr>
        <tr>
            <td>
                Camera Look At
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_cam_lookat_x" type="text" data-val="true" data-val-number="The field cam_lookat_x must be a number." name="cam_lookat_x" />
                <span class="text-danger field-validation-valid" data-valmsg-for="cam_lookat_x" data-valmsg-replace="true"></span>
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_cam_lookat_y" type="text" data-val="true" data-val-number="The field cam_lookat_y must be a number." name="cam_lookat_y" />
                <span class="text-danger field-validation-valid" data-valmsg-for="cam_lookat_y" data-valmsg-replace="true"></span>
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_cam_lookat_z" type="text" data-val="true" data-val-number="The field cam_lookat_z must be a number." name="cam_lookat_z" />
                <span class="text-danger field-validation-valid" data-valmsg-for="cam_lookat_z" data-valmsg-replace="true"></span>
            </td>
            <td>
                --
            </td>
        </tr>
        <tr>
            <td>
                Camera Quaternion
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_cam_quat_x" type="text" data-val="true" data-val-number="The field cam_quat_x must be a number." name="cam_quat_x" />
                <span class="text-danger field-validation-valid" data-valmsg-for="cam_quat_x" data-valmsg-replace="true"></span>
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_cam_quat_y" type="text" data-val="true" data-val-number="The field cam_quat_y must be a number." name="cam_quat_y" />
                <span class="text-danger field-validation-valid" data-valmsg-for="cam_quat_y" data-valmsg-replace="true"></span>
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_cam_quat_z" type="text" data-val="true" data-val-number="The field cam_quat_z must be a number." name="cam_quat_z" />
                <span class="text-danger field-validation-valid" data-valmsg-for="cam_quat_z" data-valmsg-replace="true"></span>
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_cam_quat_w" type="text" data-val="true" data-val-number="The field cam_quat_w must be a number." name="cam_quat_w" />
                <span class="text-danger field-validation-valid" data-valmsg-for="cam_quat_w" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
        <tr>
            <td>
                Orbit Control Target
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_obt_target_x" type="text" data-val="true" data-val-number="The field obt_target_x must be a number." name="obt_target_x" />
                <span class="text-danger field-validation-valid" data-valmsg-for="obt_target_x" data-valmsg-replace="true"></span>
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_obt_target_y" type="text" data-val="true" data-val-number="The field obt_target_y must be a number." name="obt_target_y" />
                <span class="text-danger field-validation-valid" data-valmsg-for="obt_target_y" data-valmsg-replace="true"></span>
            </td>
            <td>
                <input class="form-control" id="id_edit_view_input_obt_target_z" type="text" data-val="true" data-val-number="The field obt_target_z must be a number." name="obt_target_z" />
                <span class="text-danger field-validation-valid" data-valmsg-for="obt_target_z" data-valmsg-replace="true"></span>
            </td>
            <td>
                --
            </td>
        </tr>
    </table>



    <button class="btn btn-primary" id="DbUpdateView">Save</button>
</div>