@*
    @model IEnumerable<CMS_3D_Core.Models.EDM.t_view>
*@

<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                ID
            </th>
            <th>
                Title
            </th>
            <th>
                X
            </th>
            <th>
                Y
            </th>
            <th>
                Z
            </th>
            <th>
                REf
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody id="id_edit_list_view_tbody">
    </tbody>
</table>
