<div id="id_edit_annotation_display">

    <table class="table">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th>
                    ID Annotation
                </th>
                <th>
                    Title
                </th>
                <th>
                    Description1
                </th>
                <th>
                    Display
                </th>
                <th>
                    Display Description
                </th>
            </tr>
        </thead>
        <tbody id="id_edit_annotation_display_tbody">
        </tbody>
    </table>

</div>