<!DOCTYPE html>





<table class="table">
    <thead>
        <tr>
            <th>
                No
            </th>
            <th>
                X
            </th>
            <th>
                Y
            </th>
            <th>
                Z
            </th>
        </tr>
    </thead>
    <tbody id="id_edit_instance_tbody">
    </tbody>
</table>

<button class="btn btn-primary" id="DbUpdateInstance">Save</button>