@model IEnumerable<CMS_3D_Core.Models.EDM.t_article>



@{
    int index = 0;
}


<div class="row">
    @{
        foreach (var item in Model)
        {


            <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
                <a asp-controller="ContentsView" asp-action="DetailProductInstruction" asp-route-id_article="@item.id_article">
                    <img class="img-thumbnail mb-3"
                         src="~/ContentsEditAttachment/GetAttachmentFile/@(item.id_attachment_for_eye_catch ?? 4)"
                         alt=""
                         width="480" height="270"
                         loading="lazy">
                    <h3 class="h5 mb-1">@item.title</h3>
                </a>
                <p class="text-muted">@Html.DisplayFor(modelItem => item.short_description)</p>
            </div>

            index += 1;
        }
    }

</div>