
@{
    ViewData["Title"] = "show_test7";
}

<h1>show_test7</h1>






<div id="model_screen">
    @*モデルの表示領域*@
</div>

<div id="control_panel_zone">
    @*インストラクションの切り替えボタン表示領域*@
</div>
<div id="instruction_data">
    @*インストラクションの文書表示領域*@
    <h4 id="instruction_title"></h4>
    <p id="instruction_short_description"></p>

</div>

<script src="~/lib/three/three.js"></script>
<script src="~/lib/three/Loader/OBJLoader.js"></script>
<script src="~/lib/three/Loader/MTLLoader.js"></script>
<script src="~/lib/three/OrbitControls.js"></script>


<script type="text/javascript">

    //var THREE = require('three');

    class Instruction {
        constructor(id_assy, id_ruct, id_view, title, short_description) {
            this.id_assy = id_assy;
            this.id_ruct = id_ruct;
            this.id_view = id_view;
            this.title = title;
            this.short_description = short_description;
        }
    }

    class ViewObject {
        constructor(id_assy, id_view, cx, cy, cz, tx, ty, tz) {
            this.id_assy = id_assy;
            this.id_view = id_view;

            this.cx = cx;
            this.cy = cy;
            this.cz = cz;

            this.tx = tx;
            this.ty = ty;
            this.tz = tz;
        }
    }


    class InstancePart {
        constructor(id_assy, id_ruct, id_part, objectdata) {
            this.id_assy = id_assy;
            this.id_ruct = id_ruct;
            this.id_part = id_part;
            this.objectdata = objectdata;
        }
    }

    var camera_main;
    var scene;
    var controls;

    var gridHelper;
    var axisHelper;
    var lightHelper;

    var light;
    var ambient;
    var renderer;
    var width = 960;
    var height = 540;

    var view_object = [];
    var instruction_gp = [];
    var instance_part = [];

    window.onload = function () {
        'use strict';

        var qs = new URLSearchParams({ dummyid: 3 });
        var api_url = "/Use3DmodelTest/get_sample_list?" + qs.toString();


        var param_idpart = "";
        var url_partapi = "";
        var url_txapi = "";


        var pn;
        var temp_bt;

        const objLoader = new THREE.OBJLoader();
        const mtlLoader = new THREE.MTLLoader();

        // scene
        scene = new THREE.Scene();



        //指定urlからデータを取得
        fetch(api_url)
            .then(response => {

                return response.json();

            })
            .then(data => { // 処理が成功した場合に取得されるJSONデータ



                pn = document.getElementById('control_panel_zone');
                for (var i in data) {
                    if (data[i].type == "view") {
                        view_object[data[i].id_view] = new ViewObject(data[i].id_assy, data[i].id_view, data[i].cx, data[i].cy, data[i].cz, data[i].tx, data[i].ty, data[i].tz);

                    }


                    if (data[i].type == "instruction") {

                        instruction_gp[data[i].id_ruct] = new Instruction(data[i].id_assy, data[i].id_ruct, data[i].id_view, data[i].title, data[i].short_description);

                        temp_bt = document.createElement('button');
                        temp_bt.type = 'button';
                        temp_bt.onclick = transition_instruction.bind(null, data[i].id_ruct);
                        temp_bt.id = "btn_inst" + data[i].id_ruct;
                        temp_bt.classList.add('btn-primary');
                        temp_bt.textContent = 'Instruct' + data[i].id_ruct;

                        pn.appendChild(temp_bt);

                    }


                    if (data[i].type == "instance_part") {


                        param_idpart = new URLSearchParams({ id_part: data[i].id_part });
                        url_partapi = "/Use3DmodelTest/GetPartObjectFile?" + param_idpart.toString();
                        url_txapi = "/Use3DmodelTest/GetPartTextureFile?" + param_idpart.toString();


                        mtlLoader.load(url_txapi, (mtl) => {
                            mtl.preload();
                            objLoader.setMaterials(mtl);

                            objLoader.load(url_partapi, (objectdata) => {
                                instance_part[data[i].id_inst] = new InstancePart(data[i].id_assy, data[i].id_ruct, data[i].id_part, objectdata);
                                scene.add(instance_part[data[i].id_inst].objectdata);
                            });

                        });

                    }
                }
                initial_optional01();
                initial_setup_and_render();
            })
            .catch(error => { // エラーの場合の処理

                console.log(error);

            });

    }

    //指定されたIDのインストラクションを表示する
    function transition_instruction(id_ruct) {
        'use strict';

        //カメラ位置の変更
        //---------------------
        var i = instruction_gp[id_ruct].id_view;
        set_camera(camera_main, view_object[i].cx, view_object[i].cy, view_object[i].cz, new THREE.Vector3(view_object[i].tx, view_object[i].ty, view_object[i].tz));
        //---------------------

        var node_temp;
        node_temp = document.getElementById('instruction_title');
        node_temp.textContent = instruction_gp[id_ruct].title;


        node_temp = document.getElementById('instruction_short_description');
        node_temp.textContent = instruction_gp[id_ruct].short_description;


    }

    //カメラを設定する
    function set_camera(objcom, p1, p2, p3, look) {
        'use strict';
        objcom.position.set(p1, p2, p3);
        objcom.lookAt(look);
        console.log("x:" + look.x + "y:" + look.y + "z:" + look.z);
    }

    //表示関連を初期化する
    function initial_setup_and_render() {
        'use strict';

        // light
        light = new THREE.DirectionalLight(0xffffff, 1);
        light.position.set(0, 100, 30);
        scene.add(light);


        ambient = new THREE.AmbientLight(0x404040, 1);
        scene.add(ambient);

        // main camara
        camera_main = new THREE.PerspectiveCamera(45, width / height, 1, 1000);
        set_camera(camera_main, 30, 30, 30, scene.position);

        // renderer
        renderer = new THREE.WebGLRenderer({ antialias: true });
        renderer.setSize(width, height);
        renderer.setClearColor(0xefefef);
        renderer.setPixelRatio(window.devicePixelRatio);
        document.getElementById('model_screen').appendChild(renderer.domElement);


        controls = new THREE.OrbitControls(camera_main, renderer.domElement);


        function render() {
            requestAnimationFrame(render);

            controls.update();
            renderer.render(scene, camera_main);
        }
        render();

    };



    //表示関連を初期化する
    function initial_optional01() {
        'use strict';


        //helper
        gridHelper = new THREE.GridHelper(200, 50);
        scene.add(gridHelper);


        axisHelper = new THREE.AxisHelper(1000);
        scene.add(axisHelper);


        //lightHelper = new THREE.DirectionalLightHelper(light, 20);
        //scene.add(lightHelper);
    };

</script>