@model IEnumerable<CMS_3D_Core.Models.EDM.t_assembly>

@{
    ViewData["Title"] = "Top Page";
    ViewData["ShowGoogleAdSenseAdvertisement"] = "ON";
}

@*  copied from bootstrap examples*@
<div class="bd-masthead mb-3" id="content">
    <div class="container px-4 px-md-3">
        <div class="row align-items-lg-center">
            <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
            </div>
            <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
                <h1 class="mb-3">Welcome to 3D Aerospace Museum</h1>
                <p class="lead mb-4">
                    This site introduces various aerospace products with using 3D models.
                    <br />
                    Learn aerospace products more easily and enjoyably with 3D models.
                </p>

            </div>
        </div>


    </div>
</div>


<div id="like_button_container"></div>



@*
    <div class="text-center">
        <h1 class="display-4">Welcome to 3D Aerospace Museum</h1>

        <h2>About Us</h2>
        <p>
            This site introduces various aerospace products with using 3D models.

            <br />
            Learn aerospace products more easily and enjoyably with 3D models.

            <br />

            @Html.ActionLink("Go to Contents", "Index", "ContentsView", null, null)

        </p>
    </div>

*@

<div class="row">
    <div class="col-md-2"></div>


    <div class="col-md-8">



        @await Component.InvokeAsync("ContentsList", null)


    </div>

</div>
