@model IEnumerable<CMS_3D_Core.Models.EDM.t_assembly>

@{
    ViewData["Title"] = "Top Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to 3D Aerospace Museum</h1>

    <h2>About Us</h2>
    <p>
        This site introduces various aerospace products with using 3D models.

        <br />
        Learn aerospace products more easily and enjoyably with 3D models.

        <br />

        @Html.ActionLink("Go to Contents", "Index", "ContentsView", null, null)

    </p>
</div>
