@model CMS_3D_Core.Models.EDM.t_part

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>t_part</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_part" class="control-label"></label>
                <input asp-for="id_part" class="form-control" />
                <span asp-validation-for="id_part" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="part_number" class="control-label"></label>
                <input asp-for="part_number" class="form-control" />
                <span asp-validation-for="part_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="version" class="control-label"></label>
                <input asp-for="version" class="form-control" />
                <span asp-validation-for="version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="file_data" class="control-label"></label>
                <input asp-for="file_data" class="form-control" />
                <span asp-validation-for="file_data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type_data" class="control-label"></label>
                <input asp-for="type_data" class="form-control" />
                <span asp-validation-for="type_data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="format_data" class="control-label"></label>
                <input asp-for="format_data" class="form-control" />
                <span asp-validation-for="format_data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="file_texture" class="control-label"></label>
                <input asp-for="file_texture" class="form-control" />
                <span asp-validation-for="file_texture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type_texture" class="control-label"></label>
                <input asp-for="type_texture" class="form-control" />
                <span asp-validation-for="type_texture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="file_name" class="control-label"></label>
                <input asp-for="file_name" class="form-control" />
                <span asp-validation-for="file_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="file_length" class="control-label"></label>
                <input asp-for="file_length" class="form-control" />
                <span asp-validation-for="file_length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

