@model CMS_3D_Core.Models.EDM.t_view

@*id_edit_view_input_id_article*@

<div id="view_data">

    <form asp-controller="t_view" asp-action="EditProductView">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row ">


            <input type="hidden" asp-for="id_article" id="id_edit_view_input_id_article" />



            <div class="col-sm-2">
                <label asp-for="id_view" class="control-label font-weight-bold"></label>
                <div class="px-3">
                    <input asp-for="id_view" class="form-control" id="id_edit_view_input_id_view" />
                    <span asp-validation-for="id_view" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-6">
                <label asp-for="title" class="control-label font-weight-bold"></label>
                <div class="px-3">
                    <input asp-for="title" class="form-control" id="id_edit_view_input_title" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
            </div>

        </div>

        <table class="table">
            <tr>
                <th>
                    Elementname
                </th>
                <th>
                    X
                </th>
                <th>
                    Y
                </th>
                <th>
                    Z
                </th>
                <th>
                    W
                </th>
            </tr>
            <tr>
                <td>
                    Camera Position
                </td>
                <td>
                    <input asp-for="cam_pos_x" class="form-control" id="id_edit_view_input_cam_pos_x" />
                    <span asp-validation-for="cam_pos_x" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="cam_pos_y" class="form-control" id="id_edit_view_input_cam_pos_y" />
                    <span asp-validation-for="cam_pos_y" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="cam_pos_z" class="form-control" id="id_edit_view_input_cam_pos_z" />
                    <span asp-validation-for="cam_pos_z" class="text-danger"></span>
                </td>
                <td>
                    --
                </td>
            </tr>
            <tr>
                <td>
                    Camera Look At
                </td>
                <td>
                    <input asp-for="cam_lookat_x" class="form-control" id="id_edit_view_input_cam_lookat_x" />
                    <span asp-validation-for="cam_lookat_x" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="cam_lookat_y" class="form-control" id="id_edit_view_input_cam_lookat_y" />
                    <span asp-validation-for="cam_lookat_y" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="cam_lookat_z" class="form-control" id="id_edit_view_input_cam_lookat_z" />
                    <span asp-validation-for="cam_lookat_z" class="text-danger"></span>
                </td>
                <td>
                    --
                </td>
            </tr>
            <tr>
                <td>
                    Camera Quaternion
                </td>
                <td>
                    <input asp-for="cam_quat_x" class="form-control" id="id_edit_view_input_cam_quat_x" />
                    <span asp-validation-for="cam_quat_x" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="cam_quat_y" class="form-control" id="id_edit_view_input_cam_quat_y" />
                    <span asp-validation-for="cam_quat_y" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="cam_quat_z" class="form-control" id="id_edit_view_input_cam_quat_z" />
                    <span asp-validation-for="cam_quat_z" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="cam_quat_w" class="form-control" id="id_edit_view_input_cam_quat_w" />
                    <span asp-validation-for="cam_quat_w" class="text-danger"></span>
                </td>
            </tr>
            <tr>
            <tr>
                <td>
                    Orbit Control Target
                </td>
                <td>
                    <input asp-for="obt_target_x" class="form-control" id="id_edit_view_input_obt_target_x" />
                    <span asp-validation-for="obt_target_x" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="obt_target_y" class="form-control" id="id_edit_view_input_obt_target_y" />
                    <span asp-validation-for="obt_target_y" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="obt_target_z" class="form-control" id="id_edit_view_input_obt_target_z" />
                    <span asp-validation-for="obt_target_z" class="text-danger"></span>
                </td>
                <td>
                    --
                </td>
            </tr>
        </table>


        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" onclick="return confirm('Are you update View?')" />
        </div>
    </form>

    <button class="btn btn-primary" onclick="adarticle.DbUpdateView()">Save(Ajax)</button>
</div>

@*
    <div id="view_data">

        <form asp-controller="t_view" asp-action="EditProductView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row ">


                <input type="hidden" asp-for="id_article" id="view_id_article" />



                <div class="col-sm-2">
                    <label asp-for="id_view" class="control-label font-weight-bold"></label>
                    <div class="px-3">
                        <input asp-for="id_view" class="form-control" id="view_id_view" />
                        <span asp-validation-for="id_view" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <label asp-for="title" class="control-label font-weight-bold"></label>
                    <div class="px-3">
                        <input asp-for="title" class="form-control" id="view_title" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <table class="table">
                <tr>
                    <th>
                        Elementname
                    </th>
                    <th>
                        X
                    </th>
                    <th>
                        Y
                    </th>
                    <th>
                        Z
                    </th>
                    <th>
                        W
                    </th>
                </tr>
                <tr>
                    <td>
                        Camera Position
                    </td>
                    <td>
                        <input asp-for="cam_pos_x" class="form-control" id="cam_pos_x" />
                        <span asp-validation-for="cam_pos_x" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="cam_pos_y" class="form-control" id="cam_pos_y" />
                        <span asp-validation-for="cam_pos_y" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="cam_pos_z" class="form-control" id="cam_pos_z" />
                        <span asp-validation-for="cam_pos_z" class="text-danger"></span>
                    </td>
                    <td>
                        --
                    </td>
                </tr>
                <tr>
                    <td>
                        Camera Look At
                    </td>
                    <td>
                        <input asp-for="cam_lookat_x" class="form-control" id="cam_lookat_x" />
                        <span asp-validation-for="cam_lookat_x" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="cam_lookat_y" class="form-control" id="cam_lookat_y" />
                        <span asp-validation-for="cam_lookat_y" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="cam_lookat_z" class="form-control" id="cam_lookat_z" />
                        <span asp-validation-for="cam_lookat_z" class="text-danger"></span>
                    </td>
                    <td>
                        --
                    </td>
                </tr>
                <tr>
                    <td>
                        Camera Quaternion
                    </td>
                    <td>
                        <input asp-for="cam_quat_x" class="form-control" id="cam_quat_x" />
                        <span asp-validation-for="cam_quat_x" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="cam_quat_y" class="form-control" id="cam_quat_y" />
                        <span asp-validation-for="cam_quat_y" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="cam_quat_z" class="form-control" id="cam_quat_z" />
                        <span asp-validation-for="cam_quat_z" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="cam_quat_w" class="form-control" id="cam_quat_w" />
                        <span asp-validation-for="cam_quat_w" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>
                        Orbit Control Target
                    </td>
                    <td>
                        <input asp-for="obt_target_x" class="form-control" id="obt_target_x" />
                        <span asp-validation-for="obt_target_x" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="obt_target_y" class="form-control" id="obt_target_y" />
                        <span asp-validation-for="obt_target_y" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="obt_target_z" class="form-control" id="obt_target_z" />
                        <span asp-validation-for="obt_target_z" class="text-danger"></span>
                    </td>
                    <td>
                        --
                    </td>
                </tr>
            </table>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" onclick="return confirm('Are you update View?')" />
            </div>
        </form>

        <button class="btn btn-primary" onclick="adarticle.DbUpdateView()">Save(Ajax)</button>
    </div>

*@