@model CMS_3D_Core.Models.EDM.t_article

<div id="instruction_data">

    <h5>Base Info</h5>

    <input type="hidden" id="article_id_id_article" data-val="true" data-val-required="The id_article field is required." name="id_article" />

    <div class="form-group row ">


        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="article_id_status">id_status</label>
            <div class="px-4">
                <input class="form-control" id="article_id_status" type="number" data-val="true" data-val-required="The status field is required." name="id_status" />
                <span class="text-danger field-validation-valid" data-valmsg-for="article_id_status" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-sm-8">
            <label class="control-label font-weight-bold" for="article_id_id_assy">assy</label>
            <div class="px-8">
                <input class="form-control" id="article_id_id_assy" type="number" data-val="true" data-val-required="The assy field is required." name="id_assy" />
                <span class="text-danger field-validation-valid" data-valmsg-for="article_id_id_assy" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-sm-12">
            <label class="control-label font-weight-bold" for="article_id_title">title</label>
            <div class="px-12">
                <input class="form-control" id="article_id_title" type="text" name="title" />
                <span class="text-danger field-validation-valid" data-valmsg-for="article_id_title" data-valmsg-replace="true"></span>
            </div>
        </div>




        <div class="col-sm-12">
            <label class="control-label" for="article_id_short_description">article_id_short_description</label>
            <textarea class="form-control" id="article_id_short_description" name="short_description" rows="2"></textarea>
            <span class="text-danger field-validation-valid" data-valmsg-for="article_id_short_description" data-valmsg-replace="true"></span>
        </div>

        <div class="col-sm-12">
            <label class="control-label" for="article_id_long_description">long_description</label>
            <textarea class="form-control" id="article_id_long_description" name="long_description" rows="2"></textarea>
            <span class="text-danger field-validation-valid" data-valmsg-for="article_id_long_description" data-valmsg-replace="true"></span>
        </div>

        <div class="col-sm-12">
            <label class="control-label" for="article_id_meta_description">meta_description</label>
            <textarea class="form-control" id="article_id_meta_description" name="meta_description" rows="2"></textarea>
            <span class="text-danger field-validation-valid" data-valmsg-for="article_id_meta_description" data-valmsg-replace="true"></span>
        </div>

        <div class="col-sm-12">
            <label class="control-label" for="article_id_meta_category">meta_description</label>
            <textarea class="form-control" id="article_id_meta_category" name="meta_category" rows="2"></textarea>
            <span class="text-danger field-validation-valid" data-valmsg-for="article_id_meta_category" data-valmsg-replace="true"></span>
        </div>

    </div>


    <hr />

    <h5>Base Info</h5>

    <div class="form-group row ">

        <div class="col-sm-12">
            <label class="control-label" for="article_id_gammaOutput">gammaOutput</label>
            <input type="checkbox" id="article_id_gammaOutput" name="gammaOutput" value="true">
            <span class="text-danger field-validation-valid" data-valmsg-for="article_id_gammaOutput" data-valmsg-replace="true"></span>
        </div>

    </div>


    <hr />

    <h5>Base Info</h5>

    <div class="form-group row ">

        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="article_id_bg_c">id_status</label>
            <div class="px-4">
                <input class="form-control" id="article_id_bg_c" type="number" data-val="true" data-val-required="The status field is required." name="bg_c" />
                <span class="text-danger field-validation-valid" data-valmsg-for="article_id_bg_c" data-valmsg-replace="true"></span>
            </div>
        </div>

    </div>


    <div class="form-group row ">

        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="article_id_bg_c">id_status</label>
            <div class="px-4">
                <input class="form-control" id="article_id_bg_h" type="number" data-val="true" data-val-required="The status field is required." name="bg_h" />
                <span class="text-danger field-validation-valid" data-valmsg-for="article_id_bg_h" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="article_id_bg_s">id_status</label>
            <div class="px-4">
                <input class="form-control" id="article_id_bg_s" type="number" data-val="true" data-val-required="The status field is required." name="bg_s" />
                <span class="text-danger field-validation-valid" data-valmsg-for="article_id_bg_s" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="control-label font-weight-bold" for="article_id_bg_l">id_status</label>
            <div class="px-4">
                <input class="form-control" id="article_id_bg_l" type="number" data-val="true" data-val-required="The status field is required." name="bg_l" />
                <span class="text-danger field-validation-valid" data-valmsg-for="article_id_bg_l" data-valmsg-replace="true"></span>
            </div>
        </div>

    </div>

    <hr />

    <div class="form-group row ">

        <button class="btn btn-primary" id="DbUpdateArticle">Save</button>

    </div>
</div>








        @*
            <form asp-action="Edit" asp-controller="t_article">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id_article" />

                <h5>Base Info</h5>

                <div class="form-group row ">
                    <div class="col-sm-4">
                        <label asp-for="status" class="control-label"></label>
                        <select asp-for="status" class="form-control" asp-items="ViewBag.status"></select>
                        <span asp-validation-for="status" class="text-danger"></span>
                    </div>
                    <div class="col-sm-8">
                        <label asp-for="id_assy" class="control-label"></label>
                        <select asp-for="id_assy" class="form-control" asp-items="ViewBag.id_assy"></select>
                        <span asp-validation-for="id_assy" class="text-danger"></span>
                    </div>
                    <div class="col-sm-12">
                        <label asp-for="title" class="control-label"></label>
                        <input asp-for="title" class="form-control" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                    <div class="col-sm-12">
                        <label asp-for="meta_description" class="control-label"></label>
                        @Html.TextArea("meta_description", null, new { rows = "2", @class = "form-control" })
                        <span asp-validation-for="meta_description" class="text-danger"></span>
                    </div>
                    <div class="col-sm-12">
                        <label asp-for="short_description" class="control-label"></label>
                        @Html.TextArea("short_description", null, new { rows = "3", @class = "form-control" })
                        <span asp-validation-for="short_description" class="text-danger"></span>
                    </div>
                    <div class="col-sm-12">
                        <label asp-for="long_description" class="control-label"></label>
                        @Html.TextArea("long_description", null, new { rows = "3", @class = "form-control" })
                        <span asp-validation-for="long_description" class="text-danger"></span>
                    </div>
                    <div class="col-sm-12">
                        <label asp-for="meta_category" class="control-label"></label>
                        <input asp-for="meta_category" class="form-control" />
                        <span asp-validation-for="meta_category" class="text-danger"></span>
                    </div>
                </div>

                <hr />

                <h5>Directional Light Info</h5>
                <div class="form-group row">

                    <div class="col-sm-5">
                        <label asp-for="directional_light_color" class="control-label"></label>
                        <input asp-for="directional_light_color" class="form-control" />
                        <span asp-validation-for="directional_light_color" class="text-danger"></span>
                    </div>
                    <div class="col-sm-5">
                        <label asp-for="directional_light_intensity" class="control-label"></label>
                        <input asp-for="directional_light_intensity" class="form-control" />
                        <span asp-validation-for="directional_light_intensity" class="text-danger"></span>
                    </div>


                    <div class="col-sm-4">
                        <label asp-for="directional_light_px" class="control-label"></label>
                        <input asp-for="directional_light_px" class="form-control" />
                        <span asp-validation-for="directional_light_px" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="directional_light_py" class="control-label"></label>
                        <input asp-for="directional_light_py" class="form-control" />
                        <span asp-validation-for="directional_light_py" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="directional_light_pz" class="control-label"></label>
                        <input asp-for="directional_light_pz" class="form-control" />
                        <span asp-validation-for="directional_light_pz" class="text-danger"></span>
                    </div>
                </div>

                <hr />



                <h5>Ambient Light Info</h5>
                <div class="form-group row">

                    <div class="col-sm-5">
                        <label asp-for="ambient_light_color" class="control-label"></label>
                        <input asp-for="ambient_light_color" class="form-control" />
                        <span asp-validation-for="ambient_light_color" class="text-danger"></span>
                    </div>
                    <div class="col-sm-5">
                        <label asp-for="ambient_light_intensity" class="control-label"></label>
                        <input asp-for="ambient_light_intensity" class="form-control" />
                        <span asp-validation-for="ambient_light_intensity" class="text-danger"></span>
                    </div>

                </div>

                <hr />
                <h5>Ambient Light Info</h5>
                <div class="form-group row">

                    <div class="col-sm-5">
                        <label asp-for="gammaOutput" class="control-label"></label>
                        <input asp-for="gammaOutput" class="form-control" />
                        <span asp-validation-for="gammaOutput" class="text-danger"></span>
                    </div>

                </div>



                <hr />

                <h5>BackGround Color</h5>
                <div class="form-group row">

                    <div class="col-sm-5">
                        <label asp-for="bg_c" class="control-label"></label>
                        <input asp-for="bg_c" class="form-control" />
                        <span asp-validation-for="bg_c" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label asp-for="bg_h" class="control-label"></label>
                        <input asp-for="bg_h" class="form-control" />
                        <span asp-validation-for="bg_h" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="bg_s" class="control-label"></label>
                        <input asp-for="bg_s" class="form-control" />
                        <span asp-validation-for="bg_s" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="bg_l" class="control-label"></label>
                        <input asp-for="bg_l" class="form-control" />
                        <span asp-validation-for="bg_l" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>





        *@
